.titulo-fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: linear-gradient(to right, #ff9966, #ff5e62, #ffc371);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

figure img {
    border: 2px solid black;
    border-radius: 10px;
}

body {
    text-align: center;
    background-image: url('');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

figure img:hover {

    transform: scale(1.05);
}

hr {

    padding: 3%;
    background-color: white;
}

.voltar {
    position: fixed;
    margin-top: -4%;
    left: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.voltar:hover {
    background-color: #444;

}

h2 {
    background-color: #33333358;
}

h3 {
    background-color: #33333358;
}

footer {

    background-color: #f8f9fa;
    padding: 2%;
}